@import url('c:\Users\Ekuabou Riamei\Downloads\hohoho.jpg');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('ehe.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.logo
{
    font-size: 90px;
    color: rgba(12, 236, 240, 0.959);
    user-select: none;
}
.navigation a
{
    position: relative;
    font-size: 20px;
    color: rgb(19, 215, 237);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnLogin-popup
{
    width: 160px;
    height: 60px;
    background: black;
    border: 2xp solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 30px;
    color: rgb(7, 216, 212);
    font-weight: 500;
    margin-left: 50px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover
{
    background: #fff;
    color: blue;
}
.text-box
{
    color:#fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1
{
    font-size: 190px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #c3aaaa;
    background: url(back.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;    
    }
    
}
.text-box h3{
    font-size: 40px;
    font-weight: 500;
}
.wrapper
{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(19, 6, 249, 0.959);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, rgba(0, 0, 0, 0.959));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}
.wrapper.active-popup
{
    transform: scale(1);
}
.wrapper.active
{
    height: 500px;
}
.wrapper .form-box
{
    width: 120%;
    padding: 50px;
}
.wrapper .form-box.login
{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login
{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register
{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.register
{
    transition: transform .18s ease;
    transform: translateX(0);
}
.wrapper .icon-close
{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 2em;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2
{
    font-size: 30px;
    color: rgb(11, 11, 11);
    text-align: center;
}
.input-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(239, 9, 9);
    margin: 30px 0;
}
.input-box label
{
    position: absolute;
    top: 40%;
    left: 5px;
    transform: translateY(-20%);
    font-size: 1em;
    color: rgb(8, 22, 3);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;
}
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon
{
    position: absolute;
    right: 7px;
    font-size: 1.5em;
    color: rgb(26, 3, 3);
    line-height: 57px;
}
.remember-forgot
{
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -5px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input
{
    accent-color: black;
    margin-right: 3px;
}
.remember-forgot a
{
    color: red;
    text-decoration: none;
}
.remember-forgot a:hover
{
    text-decoration: underline;
}
.btn
{
    width: 100%;
    height: 45px;
    background: rgb(14, 14, 14);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register
{
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a
{
    color: rgb(9, 237, 24);
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover
{
    text-decoration: underline;
}